*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    width: 90vw;
    height: 20vh;
    margin-right: 5vw;
    margin-left: 5vw;
    /* Aligns the children items in a row direction */
    display: flex;
}

.child1{
    width: 25vw;
    height: 20vh;
    background-color: violet;
    margin-left: 5vw;
    margin-right: 15vw;
}

.child2{
    width: 25vw;
    height: 20vh;
    background-color: blue;
    margin-left: 15vw;
    margin-right: 5vw;
}