/* https://coolors.co/111218-00b8a5-9893da-f0f8ff
   #111218 black
   #f0f8ff white
   #00b8a5 teal
   #9893da purple */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

body {
    background: #f0f8ff;
    font-family: "Google Sans Flex";
    transition: background 0.5s, color 0.5s;
}

h1 {
    background: #00b8a569;
    border-radius: 18px;
    margin: 40px 200px;
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 3em;
    transition: background 0.5s, color 0.5s;
}

#app-list {
    background: #d6ecff;
    border-radius: 28px;
    margin: 0 auto;
    padding: 5px 5px;
    width: 1040px;
    font-size: 0;
    transition: background 0.5s, color 0.5s;
}

#row-1 {
    margin: 5px 0 10px 0;
}

#row-2 {
    margin: 10px 0 5px 0;
}

.app,
.app:visited {
    background: #ffffff69;
    border-radius: 18px;
    margin: 0 5px;
    padding: 5px 15px;
    height: 50px;
    width: 220px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    transition: background 0.5s, color 0.5s;
}

.app:hover {
    background: #fff;
}

.app:focus {
    outline: 2px solid #00b8a5;
    outline-offset: 2px;
}

/* Optional: make it feel "pressed" */
.app:active {
    background: #f0f8ff;
}

.app-title {
    margin: 0 auto;
    justify-content: center;
}

/* Dark themes */
.body-dark {
    background-color: #111218;
}

.h1-dark {
    background: #003d37;
    color: #fff;
}

/*  #app-list before since IDs have more importance than Classes:
the ID stylz would otherwise still get applied instead.        */
#app-list.app-list-dark {
    background-color: #000B14;
}

.app-dark,
.app-dark:visited {
    background: #17153d;
    color: #fff;
}

.app-dark:hover {
    background: #2f2a7a;
}

/* Optional: make it feel "pressed" */
.app-dark:active {
    background: #111218;
}

@media (orientation: portrait) {
#app-list {
    width: 1000px;
}
}