/* https://coolors.co/191716-00b8a5-9893da-f0f8ff
   #191716 black
   #f0f8ff white
   #00b8a5 teal
   #9893da purple */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');

* {
    font-family: "Google Sans Flex";
}

body {
    background-color: #f0f8ff;
}

#app-list {
    background: #d6ecff;
    padding: 5px 5px;
    border-radius: 28px;
    font-size: 0;
    width: 1040px;
    margin: 0 auto 0 auto;
}

.app,
.app:visited {
    color: #000;
    background: #ffffff69;
    height: 50px;
    width: 220px;
    display: inline-flex;
    align-items: center;
    /* space between icon and text */
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s, color 0.2s;
    margin: 0 5px;
}

.app:hover {
    background: #fff;
}

.app:focus {
    outline: 2px solid #00b8a5;
    outline-offset: 2px;
}

/* Optional: make it feel "pressed" */
.app:active {
    background: #f0f8ff;
}

#temp {
    margin: 0 5px;
}

.app-title {
    margin: 0 auto;
    justify-content: center;
}

#row-1 {
    margin: 5px 0 10px 0;
}

#row-2 {
    margin: 10px 0 5px 0;
}

h1 {
    font-size: 3em;
    color: #000;
    background-color: #00b8a569;
    padding: 20px;
    border-radius: 18px;
    margin: 40px 200px;
    text-align: center;
}