/*  COLOR PALETTE
    #f6a6fc light pink
    #9ff7fb blue
    #ca47a4 pink
    #352f77 purple
    #000212 black
    #f7f8ff white
*/

/*font: 400 1rem "Fira Sans"; sans-serif;
  for bodies of text*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*font: 750 2.5rem "Lexend", serif;
  for titles*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
/*font: "Onest";
  for interactives elements (e.g. buttons)*/
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

/*
tasks : make an oled mode (replace #000212 with #000 and force dark theme)
        finish design lol
        finish page also
*/

:root {
  --base-font-size: 1rem;
  --main-line-height: 1.4;

  --radius-factor: 1;
  --sharp: 0px;
  --medium: calc(8px * var(--radius-factor));
  --soft: calc(100px * var(--radius-factor));
  --radius: var(--medium);
  /* change --radius-factor and --radius for easy design switch */
}

body {
  background: url("ressources/links-background.svg");
  background-size: cover;
  /*background: #f7f8ff;*/

  margin: 0;
  padding: 0;
  font: 400 1rem "Fira Sans", sans-serif;
  color: #000212;

  height: 100vh;
}

h1 {
  display: none;
}

#main-content {
  --content-margins: 1em;
  margin: var(--content-margins);
}

#top-panel {
  box-shadow: 0 3px 0 #f6a6fc inset, 0 -3px 0 #f6a6fc inset;
  padding: 5px 0;
}

#top-title {
  margin: 1.5em 0 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: nowrap;
}

#profile {
  border: 2px dashed #00021250;
  border-radius: var(--radius);
  user-select: none;
  margin-right: -50px;
}

#name {
  font: 750 2.5rem "Lexend", serif;
}

#top-about {
  margin: 1em 0 1.5em;
  text-align: justify;
  line-height: var(--main-line-height);
  height: calc(var(--base-font-size) * var(--main-line-height) * 2);
}

#bottom-panel {
  justify-items: center;
  margin: 1.5em 0;
  padding: 0 0 10vh 0;
}

.tile {
  --tile-padding-vertical: 5px;
  --tile-padding-horizontal: 10px;
  --tile-width: calc(100vw - calc(calc(2*var(--tile-padding-horizontal)) + calc(2*var(--content-margins))));
  margin: 20px 0;
  padding: var(--tile-padding-vertical) var(--tile-padding-horizontal);
  width: var(--tile-width);
  outline: 2px solid #f6a6fc;
  border-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  font: 500 1.1rem "Onest", serif;
  max-width: 300px;
}

.icon {
  height: calc(1em + calc(2*var(--tile-padding-vertical)));
}

#footer {
  margin: 10px;
  padding: 0 0 35px;
}

/*#colorSchemeToggle {
  background: #ffffff69;
  border-radius: 18px;
  padding: 5px;
  width: 50px;
  height: 50px;
  color: #000;
  transition: background-color 0.35s, color 0.35s;
  font-size: 24px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}*/

#bottom-nav {
  z-index: 1;
  display: flex;
  position: fixed;
  bottom: 15px;
  height: 35px;
  user-select: none;
  align-items: center;
  justify-content: center;

  background: #f6a6fc;
  padding: 0 15px;
  right: 50%;
  transform: translateX(50%);
  margin: auto;
  width: fit-content;
  max-width: 50%;

  overflow-x: auto;
  white-space: nowrap;

  gap: 10px;

  border-radius: var(--radius);
}

#bottom-nav.closed {
  right: 15px;
  transform: none;
  padding: 0;
  width: 35px;


  #colorThemeToggle,
  #oledThemeToggle {
    display: none;
  }


  #closeNavbarToggle {
    width: 24px;
  }
}

.navbar-button {
  width: 48px;
  height: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  font: 500 0.8rem "Onest", serif;
  border: none;
  background: #ffffff90;
  border-radius: calc(var(--radius) - 4.5px);
}

#colorSchemeToggle:hover {
  background: #fff;
}

#colorSchemeToggle:active {
  outline: 2px solid #00b8a5;
  outline-offset: 2px;
}

body.dark {
  background: url("ressources/links-background-dark.svg");
  color: #f7f8ff;
}

.dark {

  #profile {
    border-color: #f7f8ff;
  }

  #github-icon {
    content: url("./ressources/github-dark.svg");
  }
}

@media screen and (min-width: 660px) {
  body {
    background: red;
  }
}

@media screen and (min-width: 900px) {
  body {
    background: blue;
  }
}

.oled {
  background: #000;
  color: #f7f8ff
}


@media invalid and (layout: old) {
  body {
    background: #f7f8ff;
    font-family: "Fira Sans";
  }

  h1 {
    display: none;
  }

  #main-content {
    margin: 5em auto !important;
    width: 75vw;
    display: flex;
    gap: 5vw;

    --left-panel-width: 26vw;
    --right-panel-width: 44vw;
    --panel-padding: 10px;

    --grid-gap: 10px;
    --column-count: 4;
    --column-width: calc((var(--right-panel-width) - (var(--panel-padding) * 2) - (var(--grid-gap) * (var(--column-count) - 1))) / var(--column-count));

    --tile-radius: calc(var(--column-width) / 3.5);
    --outer-radius: calc(var(--tile-radius) + var(--panel-padding));
  }

  #left-panel {
    outline: 3px solid #f6a6fc;
    border-radius: var(--outer-radius);
    padding: var(--panel-padding);
    width: var(--left-panel-width);
  }

  #left-panel-top {
    display: flex;
    gap: 10px
  }

  #profile {
    border: 2px dashed #00021250;
    border-radius: var(--tile-radius);
    user-select: none;
  }

  #name {
    margin: 65px auto auto;
    display: flex;
    font-size: 44px;
  }

  #about {
    margin: 0;
    padding: 0.75vw;
    font-size: 24px;
    text-align: justify;
  }

  #right-panel {
    outline: 3px solid #f6a6fc;
    border-radius: var(--outer-radius);
    padding: var(--panel-padding);
    width: var(--right-panel-width);

    display: grid;
    grid-template-columns: repeat(var(--column-count), var(--column-width));
    grid-template-rows: repeat(4, var(--column-width));
    grid-auto-flow: dense;
    gap: var(--grid-gap);
  }

  [class^="tile-"] {
    border: 2px solid #000;
    border-radius: var(--tile-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .tile-1x2 {
    grid-row: span 2;
  }

  .tile-2x1 {
    grid-column: span 2;
  }

  .tile-2x2 {
    grid-column: span 2;
    grid-row: span 2;
    aspect-ratio: 1 / 1;
  }

  .tile-2x3 {
    grid-column: span 2;
    grid-row: span 3;
  }

  .tile-icon {
    border: 0;
    border-radius: 10px;
    width: 75%;
  }

  #github {
    border: 2px solid #1b1f24;

    .tile-icon {
      width: 80%;
    }

  }

  #mailto {
    border: 2px solid #6d4aff;
  }

  #support {
    padding: 0;
    overflow: hidden;
    justify-content: flex-start;
  }

  #kofi {
    border: none;
    width: 417.5px;
    height: 100%;
    flex-shrink: 0;
  }

  .gecko {
    #kofi {
      width: 100%;
    }
  }
}

/* fix needed on Vivaldi */
/* to check Chrome / Brave / Firefox / Zen */