* {
  background-color: #030027;
}

#main-header {
  color: #ffffff;
}

#h1-name {
  color: #EFBDEB;
  font-family: "Trebuchet"
  text-align: left;
}




.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#h1-name {
  color:white
}

#build {
  padding: 10px;
  background-color: #501212;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  
  width:50vw; /* remove when if() support on other browsers */
  width: if(
    media(orientation = portrait): 75vw;
    else: 50vw;
    );

  height:5vh; /* remove when if() support on other browsers */
  height: if(
    media(orientation = portrait):10vh;
    else: 5vh;
    );
    
  border: 5px solid #ffffff;
  /* Make border visible */
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-header {
  background-color: black;
  color: white;
  justify-content:left;
}
