body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#build {
  padding: 10px;
  background-color: #501212;
  color: #ffffff;
  border-radius: 10px;
  text-align: center;
  
  width:  if(
    media(width > height: 75vw); /* vertical screen*/
    else: 50vw;
    );
    
  height: if(
    media(width > height: 10vh);
    else: 5vh;
    );
    
  border: 5px solid #ffffff;
  /* Make border visible */
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
