:root {
  /* Colors */
  --white: #F7F8FF;
  --white-blueish: #D8DBFF;
  --black: #000214;
  --black-50: #00021450;
  --black-blueish: #181952;
  --pink-bright: #F6A6FC;
  --blue-bright: #515CF6;

  --light-background: linear-gradient(var(--angle), var(--white), var(--white-blueish));
  --dark-background: linear-gradient(var(--angle), var(--black-blueish), var(--black));
  --bright-background: linear-gradient(var(--angle), var(--pink-bright) 30%, var(--blue-bright));

  /* Values */
  --angle: 155deg;
  --body-margin: 8px;
  --transition-speed: 300ms;
  --default-radius: 0px;

  /* Header */
  --menu-icon-size: 24px;
  --menu-icon-padding: 2px;
  --menu-icon-border-width: 2px;
  --menu-icon-container-size: calc( var(--menu-icon-size) + 2*var(--menu-icon-padding) + 2*var(--menu-icon-border-width) + 2*var(--body-margin) );
}

a:link {
  color: var(--blue-bright);
}

a:visited{
  color: var(--pink-bright)
}

body {
  /* Background */
  /* background: linear-gradient(155deg, var(--white), var(--white-blueish)); */
  background: transparent;
  
  /* Text */
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  font-family: "Firava", sans-serif;
  color: var(--black);

  /* Placement */  
  margin: var(--body-margin);

  /* transition: 300ms; */
  transition: color var(--transition-speed);
}

body::after {
  /* Empty content & positionning */
  content: '';
  position: fixed;
  inset: 0;

  /* Behind dark scheme background */
  z-index: -11;

  background: var(--light-background);
  transition: opacity var(--transition-speed);
}

/* Pseudo-element for linear-gradient() transition */
body::before {
  /* Empty content & positionning */
  content: '';
  position: fixed;
  inset: 0;

  /* Invisible & in front of normal background */
  opacity: 0;
  z-index: -10;

  background: var(--dark-background);
  transition: opacity var(--transition-speed);
}

/* Header style */
header {
  --title-container-width: calc(100vw - 2*var(var(--menu-container-size)));

  height: var(--menu-icon-container-size);
  display: flex;
  align-items: center;
  margin-top: calc(var(--menu-icon-container-size) + var(--body-margin));
  transition: var(--transition-speed); 
}

header.collapsed {
  margin: 0;
}

#navbar-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--menu-icon-container-size);
}

#navbar-menu-button {
  --button-size: calc(var(--menu-icon-size) + 2*var(--menu-icon-padding));
  width: var(--button-size);
  height: var(--button-size);
  padding: 0;
  background: none;
  border: none;
  outline: solid 2px var(--pink-bright);
  transition: var(--transition-speed);
  border-radius: var(--default-radius);
}

#navbar-menu-button.open {
  transform: rotate(90deg);
}

#menu-icon {
  height: var(--menu-icon-size);
  width: var(--menu-icon-size);
  padding: var(--menu-icon-padding);
}

.header-left {
  position: absolute;
  top: 16px;
  left: 16px;
  transition: var(--transition-speed);
  --font-size: 1.2em;
  --padding-vertical: calc(calc(48px - 1.2em - 8px - 4px) / 2);
  padding: var(--padding-vertical) 0 var(--padding-vertical) 0;
}

#nav-links {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 16px;
  right: 16px;
  transition: var(--transition-speed);
}

#nav-links.collapsed, .header-left.collapsed {
  position: absolute;
  transform: translateY(calc(0px - var(--menu-icon-container-size) - var(--body-margin)));
}

.icon {
  height: 34px;
  user-select: none;
}

h2 {
  font: normal 600 1.65em "Onest";
  text-align: center;
}

#title {
  width: calc(100vw - 2*var(--body-margin) - 2*var(--menu-icon-container-size));
}

/* Dark color scheme */
body.dark {
  color: var(--white);
}

body.dark::before {
  opacity: 1;
}

