:root {
  /* Colors */
  --white: #F7F8FF;
  --white-blueish: #D8DBFF;
  --black: #000214;
  --black-50: #00021450;
  --black-blueish: #181952;
  --pink-bright: #F6A6FC;
  --blue-bright: #515CF6;

  --light-background: linear-gradient(var(--angle), var(--white), var(--white-blueish));
  --dark-background: linear-gradient(var(--angle), var(--black-blueish), var(--black));
  --bright-background: linear-gradient(var(--angle), var(--pink-bright) 30%, var(--blue-bright));

  /* Values */
  --angle: 155deg;
  --body-margin: 8px;
  --transition-speed: 300ms;
  --default-radius: 0px;
  --body-margin-quarter: calc(var(--body-margin) / 4);
  --icon-container-height: calc(var(--icon-size) + var(--body-margin)/2);  /* A quarter of --body-margin serves as 'padding' between icon and outline */
  --icon-size: 32px;

  /* Header */
  --menu-icon-size: 24px;
  --menu-icon-padding: 2px;
  --menu-icon-border-width: 2px;
  --menu-icon-container-size: calc( var(--menu-icon-size) + 2*var(--menu-icon-padding) + 2*var(--menu-icon-border-width));

}

a:link {
  color: var(--blue-bright);
}

a:visited{
  color: var(--pink-bright)
}

body {
  /* Background */
  background: var(--white-blueish);
  
  /* Text */
  font: normal 400 1rem "Firava", sans-serif;
  color: var(--black);

  /* Placement */  
  margin: var(--body-margin);

  /* Display */
  min-height: calc(100dvh - 2*var(--body-margin));
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: color var(--transition-speed);
}

body::after {
  /* Empty content & positionning */
  content: '';
  position: fixed;
  inset: 0;

  /* Behind dark scheme background */
  z-index: -11;

  background: var(--light-background);
  transition: opacity var(--transition-speed);
}

/* Pseudo-element for linear-gradient() transition */
body::before {
  /* Empty content & positionning */
  content: '';
  position: fixed;
  inset: 0;

  /* Invisible & in front of normal background */
  opacity: 0;
  z-index: -10;

  background: var(--dark-background);
  transition: opacity var(--transition-speed);
}

.nav-button {
  align-items: center;
  background: none;
  border: none;
  display:flex;
  height: var(--icon-container-height);
  justify-content: center;
  border: solid var(--body-margin-quarter) var(--pink-bright);
  padding: 0;
  transition: transform var(--transition-speed);
  width: auto;
}

.icon {
  color: var(--black);
  height: var(--icon-size);
  transition: filter var(--transition-speed), var(--transition-speed);
  user-select: none;
}

.linkedin-icon {
  color: #0a66c2;
}

/* HEADER */
header {
  --h1-line-height: calc(1.75rem + var(--body-margin));
  /* --title-container-width: calc(100vw - 2*var(var(--menu-container-size))); */

  margin: 0 0 var(--body-margin);

  display: flex;
  flex-direction: column;
  transition: var(--transition-speed); 

  h1 {
    margin: var(--body-margin) 0 0;
    font: normal 700 1.75rem "Onest", serif;
    text-align: left;
    line-height: var(--h1-line-height);
  }
}

header.open {
  margin-top: var(--icon-container-height);

  .nav-button {
    transform: rotate(90deg);
  }

  .social-nav {
    /* transform: translateY(calc(0px - var(--menu-icon-container-size) - var(--body-margin))); */
    position: relative;
  }
}

/*/ Menu collapse button /*/
#nav-button-collapse {
  width: var(--icon-container-height);
}

/*/ Breadcumb navgation /*/
.breadcrumb-nav, .lang-nav {
  position: absolute;
  transform: translateY(calc(0px - var(--icon-container-height)));
  padding: calc(var(--body-margin)/2) 0;

  ol {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;

    a {
      text-decoration: none;
    }
  }

  li:not(:last-child)::after {
    content: "›";
    /* Screen readers won't announce this */
    margin: 0 8px;
    color: #666;
  }
}

/*/ Social links /*/
.social-nav {
  position: relative;
  top: calc(0px - calc(var(--h1-line-height) + var(--body-margin) + var(--icon-container-height)));
  transform: translateY(var(--body-margin-quarter));
  align-items: center;
  justify-content: right;
  display: flex;
  gap: var(--body-margin);
  transition: transform var(--transition-speed);
  width: fit-content;
  left: calc(100vw - 2*var(--body-margin) - 2*var(--icon-container-height));

  a {
    height: 0px; /* No impact on icon size & prevents unwanted taken space beneath title */
    width: var(--icon-size);
  }
}

/* MAIN */
main {
  text-align: justify;
}

/* FOOTER */
footer {
  display: flex;
  column-count: 3;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/*/ Color scheme button /*/
#color-scheme-button::before {
  /* Display */
  content:'';
  position: absolute;
  z-index: -1;
  transform: translateX(calc(0px - var(--icon-size) / 2));
  transition: transform var(--transition-speed);
  /*Style */
  background: #F6A6FC75;
  height: var(--icon-size);
  width: var(--icon-size);
}

/*/ Site map /*/
#site-map {
  text-align: right;
}

/** DARK COLOR SCHEME **/
html.dark {
  body {
  color: var(--white);
  background-color: var(--black);
  }

  .nav-button {
    .icon {
      filter: invert(1);
    }
  }

  .icon {
    color: var(--white);
  }

  /* FOOTER */
  #color-scheme-button::before {
    transform: translateX(calc(var(--icon-size) / 2));
  }
}

html.dark body::before {
  opacity: 1;
}