body {
    --content-margins: auto 22vw;
    background-color: #000212;
    font: normal 400 1rem "Firava";
    color: #f7f8ff;
}

#title-bar {
    border-top: solid #f6a6fc 5px;
    margin-top: 10px;
    display: flex;
}

#title-lang {
    position: absolute;
    left: 25px;
    margin: 22.5px 0;
    align-items: center;
    font-size: 15px;
}

#title-section {
    --title-weight: 600;
    --title-size: 1.8em;
    margin: var(--content-margins);
    margin-top: 10px;
    text-align: left;
    font: normal var(--title-weight) var(--title-size) "Lexend";
    padding-bottom: 5px;
    padding-left: 8px;
    border-bottom: solid #f6a6fc 5px;
    border-left: solid #f6a6fc 5px;
    margin-bottom: 0;
    width: auto;
}

#title-username {
    font: italic var(--title-weight) calc(var(--title-size) / 1.5) "Trebuchet MS";
    color: #f6a6fc;
    /*font-family: "Trebuchet MS";
    font-size: 120%;
    font-style: italic;
    font-weight: bold;*/
    text-align: left;
}

#title-links {
    margin-top: 25px;
    position: absolute;
    right: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
}

.icon {
    padding: 2.5px;
    height: 35px;
}

body.dark .missing-icon {
    filter:invert(1);
}

#content {
    margin: var(--content-margins);
    text-align: justify;
}

@media (orientation: portrait) {

    #title-section {
        position: initial;
        margin-left: 10px;
        display: block;
        text-align: center;
        padding-left: 0rem;
        border: initial;
    }

    #introduction {
        text-align: justify;
        margin: 0 5vw 0 5vw;
    }
}