body {
    --default-margin-left: 22vw;
    margin: 0;
    background-color: #000212;
    font: normal 400 1rem "Firava";
    color: #f7f8ff;
}

#title-bar {
    border-top: solid #f6a6fc 5px;
    margin-top: 10px;
    display: flex;
    height: 60px
}

#title-lang {
    /*position: absolute;
    left: 25px;*/
    align-items: center;
    width: 22vw;
}

#title-section {
    --title-weight: 600;
    --title-size: 1.8em;
    margin: 0 /*var(--default-margin-left)*/;
    font: normal var(--title-weight) var(--title-size) "Lexend";
    width: calc(100vw - 44vw);
    height: 55px;
}

#title-greet {
    box-shadow: -5px 5px #f6a6fc;
    padding-left: 8px;
    padding-bottom: 5px;
}

#title-username {
    font: italic var(--title-weight) calc(var(--title-size) / 1.5) "Trebuchet MS";
    color: #f6a6fc;
    /*font-family: "Trebuchet MS";
    font-size: 120%;
    font-style: italic;
    font-weight: bold;*/
    text-align: left;
}

#title-links {
    /*position: absolute;
    right: 25px;*/
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    width: 22vw;
}

.icon {
    padding: 2.5px;
    height: 35px;
}

body.dark .missing-icon {
    filter:invert(1);
}

#content {
    margin: 0 var(--default-margin-left);
    width: calc(100vw - 44vw);
    text-align: justify;
}

@media (orientation: portrait) {

    #title-section {
        position: initial;
        margin-left: 10px;
        display: block;
        text-align: center;
        padding-left: 0rem;
        border: initial;
    }

    #introduction {
        text-align: justify;
        margin: 0 5vw 0 5vw;
    }
}