* {
    background-color: #030027;
    color: #f7f8ff;
}

#title {
    border-top: solid #EFBDEB 0.25rem;
    margin-top: 2vh;
}

#title-section {
    display: inline-block;
    text-align: left;
    color: #ffffff;
    font-family: "Arial";
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    border-bottom: solid #EFBDEB 0.35rem;
    border-left: solid #EFBDEB 0.35rem;
    margin: 1.5rem 25vw 0vh 25vw;
    width: auto;
    /*margin: 0px;
  margin-bottom: 0vh;
  margin-top: 1.5rem;
  margin-left: 25vw;
  margin-right: 25vw;*/
}

#title-section-text {
    font-weight: bold;
}

#title-section-username {
    color: #EFBDEB;
    font-family: "Trebuchet MS";
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

#introduction {
    color: #ffffff;
    font-family: Arial;
    font-size: 1rem;
    margin-left: 25vw;
    margin-right: 25vw;
}

@media (orientation: portrait) {
    #title-section {
        margin: 1.5rem auto 0vh;
        display: block;
        text-align: center;
        padding-left: 0rem;
        border: initial;
    }

    #introduction {
        text-align: justify;
        margin: 0 5vw 0 5vw;
    }
}