@import url('global.css');

header {
    --menu-icon-size: 24px;
    --menu-icon-padding: 2px;
    --menu-icon-border-width: 2px;
    --menu-icon-container-size: calc( var(--menu-icon-size) + 2*var(--menu-icon-padding) + 2*var(--menu-icon-border-width) + 2*var(--body-margin) );
    --title-container-width: calc(100vw - 2*var(var(--menu-container-size)));

    height: var(--menu-icon-container-size);
    display: flex;
    align-items: center;
    margin-top: calc(var(--menu-icon-container-size) + var(--body-margin));
    transition: ease-out 300ms; 
}

header.collapsed {
    margin: 0;
}

#navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--menu-icon-container-size);
}

#navbar-menu-button {
    --button-size: calc(var(--menu-icon-size) + 2*var(--menu-icon-padding));
    width: var(--button-size);
    height: var(--button-size);
    padding: 0;
    background: none;
    border: none;
    outline: solid 2px #F6A6FC;
    transition: ease-out 300ms;
}

#navbar-menu-button.open {
    transform: rotate(90deg);
}

#menu-icon {
    height: var(--menu-icon-size);
    width: var(--menu-icon-size);
    padding: var(--menu-icon-padding);
}

#nav-lang {
    position: absolute;
    top: 16px;
    left: 16px;
    transition: ease-out 300ms;
    --font-size: 1.2em;
    --padding-vertical: calc(calc(48px - 1.2em - 8px - 4px) / 2);
    padding: var(--padding-vertical) 0 var(--padding-vertical) 0;
}

#nav-links {
    position: absolute;
    top: 16px;
    right: 16px;
    transition: ease-out 300ms;
}

#nav-links.collapsed, #nav-lang.collapsed {
    position: absolute;
    transform: translateY(calc(0px - var(--menu-icon-container-size) - var(--body-margin)));
}

.icon {
    height: 34px;
}

h2 {
    width: calc(100vw - 2*var(--body-margin) - 2*var(--menu-icon-container-size));
    text-align: center;
    font: normal 600 1.65em "Onest";
}